@model Digital.Ventures.Web.Models.PlayerViewModel
@{
    ViewData["Title"] = "SuccessfullyAdded";
}

<h2>Success</h2>

<p>You updated @Model.Name</p>

<div>
    <a asp-action="Players">Back to List</a>
</div>
